<form action="/newPost" method="POST" style="clear: left; text-align: center;">
	
	<label for="title">Title<br>
		<input type="text" name="title"><br>
	</label><br>

	<label for="author">Author<br>
		<input type="text" name="author"><br>
	</label><br>

	<label for="text">Text<br>
		<textarea id="text" type="text" name="text"></textarea><br>
	</label><br>

	<input type="submit" value="Submit">

</form>