<form class = "newPost" action="/newPost" method="POST" style="clear: left; text-align: center;">
	
	<label for="post_name">Title<br>
		<input type="text" name="post_name"><br>
	</label><br>

	<label for="author">Author<br>
		<input type="text" name="author"><br>
	</label><br>

	<label for="body">Text<br>
		<textarea id="text" type="text" name="body"></textarea><br>
	</label><br>

	<input type="submit" value="Submit">

</form>
