<div id="userBoxes">
	{{#each users}}
		<div class = "small-box" id = "{{name}}">
			<h2 class="innerText">{{name}}</h2>
			<div class = "imgContainer">
				<img id="profilePic" src="{{img_url}}">
			</div>
		</div>
	{{/each}}
</div>