@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,300);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
/*header*/
#topBar{
  height: 200px;
  width: 100%;
  background-color: grey;
  border-radius: 5px;
}
/*nav bar */
nav{
  position: absolute;
  text-align: center;
  top: 210px;
  width: 250px;
  height: 100%;
  float: left;
  background-color: #91cca9;
  border-radius: 5px;
}

/*new post and top post*/
.sub1 {
  position: absolute;
  float: right;
  top: 100px;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 14px;
  display: block;
  width: 200px;
  text-align: center;
  border-top: 2px solid white;
}
.sub1, .sub1:visited {
  float: right;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: white;
}

.sub1:hover{
  color: cornflowerblue;
}
.sub2 {
  position: absolute;
  float: right;
  top: 200px;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 14px;
  display: block;
  width: 200px;
  text-align: center;
  border-top: 2px solid white;
}
.sub2, .sub2:visited {
  float: right;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: white;
}

.sub2:hover{
  color: cornflowerblue;
}
.sub3 {
  position: absolute;
  float: right;
  top: 300px;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 14px;
  display: block;
  width: 200px;
  text-align: center;
  border-top: 2px solid white;
}
.sub3, .sub3:visited {
  float: right;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: white;
}

.sub3:hover{
  color: cornflowerblue;
}


/*the roman forum title*/
#main{
  position: relative;
  top: 40px;
  font-family: Roboto;
  font-size: 70px;
  text-align: center;
  text-decoration: none;
  border: 2px solid white;
  padding: 20px 20px 20px 20px;
  color: white;
  border-radius: 5px;
}
#main, #main:visited {
  left: 50px;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  font-family: Roboto;
  font-size: 70px;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}


/*new topic form*/
.newPost {
  position: absolute;
  left: 260px;
  top: 210px;
  border: 1px solid #b4c1c4;
  padding: 50px 100px 80px 100px;
  border-radius: 5px;
  background-color: #a0cfe5;
}
.newPost label{
  position: relative;
  font-family: 'Poiret One', cursive;
  font-size: 24px;
  width: 200px;
  text-align: center;
}
.newPost input{
  border-radius: 5px;

}
.newPost textarea{
  border-radius: 5px;

}
#text {
  position: relative;
  width: 300px;
  height: 200px;
  border: 2px solid #b4c1c4;
}






/*topic boxes */
.small-box{
    position: relative;
    top: 3px;
    left: 253px;
    border: 2px solid #b4c1c4;
    height: 180px;
    width: 200px;
    border-radius: 5px;
}
.small-box h2{
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 20px;
  text-decoration: underline;
  text-align: center;
}
.small-box h3{
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 20px;
  text-align: center;
}
.small-box h4{
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  visibility: hidden;
}
.large-box {
    position: relative;
    top: 3px;
    left: 253px;
    border: 2px solid #b4c1c4;
    width: 800px;
    height: 400px;
    border-radius: 5px;
    overflow: scroll;
    -webkit-transition: width 2s, height 2s;
    -moz-transition: width 2s, height 2s;
    -ms-transition: width 2s, height 2s;
    -o-transition: width 2s, height 2s;
    transition: width 2s, height 2s;
}
.large-box h2{
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 20px;
  text-decoration: underline;
  text-align: center;
}
.large-box h3{
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 20px;
  text-align: center;
}
.large-box h4{
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  visibility: visible;
  padding: 5px 5px 5px 5px;
  border: 2px solid #b4c1c4;
  border-radius: 5px;
  margin: 5px 5px 5px 5px;
}
.small-box #commentForm{
  visibility: hidden;
}
.large-box #commentForm{
  position: relative;
  float: bottom;
  font-family: 'Poiret One', cursive;
  font-size: 24px;
  text-align: center;
  visibility: visible;
  padding: 5px 5px 5px 5px;
  border: 2px solid #b4c1c4;
  border-radius: 5px;
  margin: 5px 5px 5px 5px;
}


/*user profiles page*/

#userBoxes{
  position: absolute;
}
.imgContainer{
  left: 50px;
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
#profilePic{
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50px;
}



